# Logs
logs/
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build artifacts
dist/

# macOS-specific files
.DS_Store

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Package lock files
package-lock.json
yarn.lock